<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
  li{float:left;}
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c22929;
  }
  .ilp {
    display:inline;
  }
  .unitSelected {
    border-style: groove;
  }
  .inlineIcon {
    width: 40px;
    height: 40px;
  }
  .unitIcon {
    width: 100px;
    height: 100px;
  }
  .skillImg {
    width:100px;
    height:100px;
    display:inline-block;
  }
  .simpleFilterButton {
    filter:brightness(100%);
    background-color: darkgreen;
  }
  .simpleFilterButtonInactive {
    background-color: darkgrey;
    filter: brightness(50%);
  }
  .simpleFilterButtonImage {
    height: 40px;
  }
  </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>TaimaninSquadHub<br>Updated</li>
        <li>Unit Codex</li>
        <li>Team Creator</li>
        <li>XP Planner</li>
        <li>Stat Ranking</li>
        <li>Settings</li>
      </ul>
    </nav>
  </header>
  <hr>
  <div id="UnitCodex">
    <div>
      <div>
        <span>TaimaninSquad Unit Codex</span>
        <div style="float: right;">
          <span>{{loadingStatus}}</span>
          <button @click="exportUnitCache">Export Unit Data</button>
        </div>
      </div>
      <div style="display: block;">
        <input type="text" alt="search" id="searchbar">
        <button @click="toggleDisplayOrder">{{sortingIsAZ ? "A-Z" : "Id"}}</button>
      </div>
    </div>
    <div>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.commonFilter}" @click="toggleSimpleFilter('commonFilter')">Common</button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.uncommonFilter}" @click="toggleSimpleFilter('uncommonFilter')">Uncommon</button><button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.rareFilter}" @click="toggleSimpleFilter('rareFilter')">Rare</button><button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.epicFilter}" @click="toggleSimpleFilter('epicFilter')">Epic</button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.legendaryFilter}" @click="toggleSimpleFilter('legendaryFilter')">Legendary</button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.offenseFilter}" @click="toggleSimpleFilter('offenseFilter')"><img src="img/role_off.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.defenseFilter}" @click="toggleSimpleFilter('defenseFilter')"><img src="img/role_def.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.supportFilter}" @click="toggleSimpleFilter('supportFilter')"><img src="img/role_sup.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.powerFilter}" @click="toggleSimpleFilter('powerFilter')"><img src="img/type_pow.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.techniqueFilter}" @click="toggleSimpleFilter('techniqueFilter')"><img src="img/type_tec.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.agilityFilter}" @click="toggleSimpleFilter('agilityFilter')"><img src="img/type_agi.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.balancedFilter}" @click="toggleSimpleFilter('balancedFilter')"><img src="img/type_bal.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.moonFilter}" @click="toggleSimpleFilter('moonFilter')"><img src="img/UnitDisPosition_1_Big.png" class="simpleFilterButtonImage" /></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.marsFilter}" @click="toggleSimpleFilter('marsFilter')"><img src="img/UnitDisPosition_2_Big.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.mercuryFilter}" @click="toggleSimpleFilter('mercuryFilter')"><img src="img/UnitDisPosition_3_Big.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.jupiterFilter}" @click="toggleSimpleFilter('jupiterFilter')"><img src="img/UnitDisPosition_4_Big.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.venusFilter}" @click="toggleSimpleFilter('venusFilter')"><img src="img/UnitDisPosition_5_Big.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.saturnFilter}" @click="toggleSimpleFilter('saturnFilter')"><img src="img/UnitDisPosition_6_Big.png" class="simpleFilterButtonImage"/></button>
      <button class="simpleFilterButton" :class="{simpleFilterButtonInactive:!simpleFilterStates.sunFilter}" @click="toggleSimpleFilter('sunFilter')"><img src="img/UnitDisPosition_7_Big.png" class="simpleFilterButtonImage"/></button>
    </div>
    <div>
      <p>Advanced Filters</p>
    </div>
    <div style="height:200px;background-color: aqua;overflow-y: auto;">
      <div v-for="id in displayedUnits" :key="id" style="display: inline-block; text-align: center;" :class="{ unitSelected: id === selectedUnit.id }" @click="selectNewUnit(id)">
        <img :src="'img/icons/' + unitCache[id].img + unitCache[id].iconSuffix + '.png'" :alt="unitCache[id].name" class="unitIcon" @error="handleImgError($event, unitCache[id], true)" /><br>
        <span>{{unitCache[id].name}}</span>
      </div>
    </div>
    <div>
      <div style="display: inline-block;">
        <img :src="'img/portraits/' + selectedUnit.img + selectedUnit.portraitSuffix + '.png'" alt="portrait" @error="handleImgError($event, selectedUnit, false)" />
        <h2>{{selectedUnit.name}}</h2>
      </div>
      <div style="display: inline-block;">
        <div>
          <span>
            {{rarityLookup.text}}
            <img :src="'img/type_'+ typeLookup.img + '.png'" :alt="typeLookup.text" class="inlineIcon" />
            {{typeLookup.text}}
            <img :src="'img/role_'+ roleLookup.img + '.png'" :alt="roleLookup.text" class="inlineIcon" />
            {{roleLookup.text}}
            <img :src="'img/UnitDisPosition_'+ traitLookup.img + '_Big.png'" :alt="traitLookup.text" class="inlineIcon" />
            {{traitLookup.text}}
          </span>
        </div>
        <div>
          <p>HP: {{selectedUnit.hp}}</p>
          <p>ATK: {{selectedUnit.atk}}</p>
          <p>DEF: {{selectedUnit.def}}</p>
          <p>SPD: {{selectedUnit.spd}}</p>
          <p>CRIT RATE: {{selectedUnit.crit_rate}}%</p>
          <p>CRIT DMG: {{selectedUnit.crit_dmg}}%</p>
          <p>CRIT RES: {{selectedUnit.crit_res}}%</p>
          <p>ACC: {{selectedUnit.acc}}%</p>
          <p>EVA: {{selectedUnit.eva}}%</p>
        </div>
      </div>
    </div>
    <div>
      <div style="display: inline-flex; gap: 8px;">
        <span>Aura</span><span>{{ selectedUnit.aura.value }}%</span><span>{{ SKILL_LOOKUP[selectedUnit.aura.stat]??selectedUnit.aura.stat }}</span><span>for {{ SKILL_LOOKUP[selectedUnit.aura.allyTarget]??selectedUnit.aura.allyTarget }} units</span><span>in {{ SKILL_LOOKUP[selectedUnit.aura.location]??selectedUnit.aura.location }} mode(s)</span>
      </div>
      <div v-for="skill in selectedUnit.skills" :key="skill">
        <img :src="'img/skills/'+skill.id+'.png'" :alt="skill.name" class="skillImg" />
        <div style="display:inline-block">
          <p>{{ skill.name }} {{ skill.isPassive ? "[Passive]" : "" }}</p>
          <p>Cooldown: {{ skill.cooldown }} Number of hits: {{ skill.numAttacks }} Scales with: {{ skill.statScaling }}</p>
          <p>
            <template v-for="(level, index) in skill.skillLevels" :key="index">
              <span>{{ SKILL_LOOKUP[level] ?? level }}</span>
              <span v-if="index < skill.skillLevels.length - 1"> => </span>
            </template>
          </p>
        </div>
      </div>
      <div v-for="weap in selectedUnit.weapons" :key="weap">
        <img :src="'img/weapons/Weapon_' + weap.id + '_l.png'" :alt="weap.name" class="skillImg" />
        <img :src="'img/skills/'+weap.skillId+'.png'" :alt="weap.skillId" class="skillImg" />
        <div style="display:inline-block">
          <p>{{ weap.skill.name }} {{ weap.skill.isPassive ? "[Passive]" : "" }}</p>
          <p>Cooldown: {{ weap.skill.cooldown }} Number of hits: {{ weap.skill.numAttacks }} Scales with: {{ weap.skill.statScaling }}</p>
          <p><span v-for="level in weap.skill.skillLevels">{{level}}</span></p>
        </div>
      </div>
    </div>
  </div>

  <script>
    const { createApp, reactive, ref, computed } = Vue
    createApp({
      setup() {
        const TYPE_LOOKUP = {
          1: { img: 'pow', text: 'Power' },
          2: { img: 'tec', text: 'Technique' },
          3: { img: 'agi', text: 'Agility' },
          4: { img: 'bal', text: '???' }
        }
        const DEFAULT_TYPE = { img: 'bal', text: 'Balanced' }
        const typeLookup = computed(() => TYPE_LOOKUP[selectedUnit.type] ?? DEFAULT_TYPE)

        const ROLE_LOOKUP = {
          1: { img: 'off', text: 'Offense' },
          2: { img: 'def', text: 'Defense' },
          3: { img: 'sup', text: 'Support' }
        }
        const DEFAULT_ROLE = { img: 'sup', text: '???' }
        const roleLookup = computed(() => ROLE_LOOKUP[selectedUnit.role] ?? DEFAULT_ROLE)

        const TRAIT_LOOKUP = {
          1: { img: '1', text: 'Moon' },
          2: { img: '2', text: 'Mars' },
          3: { img: '3', text: 'Mercury' },
          4: { img: '4', text: 'Jupiter' },
          5: { img: '5', text: 'Venus' },
          6: { img: '6', text: 'Saturn' },
          7: { img: '7', text: 'Sun' }
        }
        const DEFAULT_TRAIT = { img: '7', text: '???' }
        const traitLookup = computed(() => TRAIT_LOOKUP[selectedUnit.role] ?? DEFAULT_TRAIT)

        const RARITY_LOOKUP = {
          1: { img: '1', text: 'Common' },
          2: { img: '2', text: 'Uncommon' },
          3: { img: '3', text: 'Rare' },
          4: { img: '4', text: 'Epic' },
          5: { img: '5', text: 'Legendary' }
        }
        const DEFAULT_RARITY = { img: '5', text: '???' }
        const rarityLookup = computed(() => RARITY_LOOKUP[selectedUnit.rarity] ?? DEFAULT_RARITY)

        const SKILL_LOOKUP = {
          "HpRate": "Health",
          "AtkRate": "Attack",
          "DefRate": "Defense",
          "SpdRate": "Speed",
          "CriRate": "Crit Rate",
          "CriRes": "Crit Resistance",
          "CriDmg": "Crit Damage",
          "Acc": "Accuracy",
          "Evd":"Evasion",
          "Destruction": "Power",
          "AllUnit": "all units",
          "QUEST_ALL": "all",
          "QUEST_TACTICS_ANALYSIS": "tactical",
          "[D:10]": "+10% Damage",
          "[P:10]": "+10% Chance",
          "[B:10]": "+10% Buff/Debuff",
          "[H:10]": "+10% Healing",
          "CriRes": "Crit Resistance",
          "Destruction": "Power",
          "AllUnit": "all units",
          "QUEST_ALL": "all",
          "QUEST_TACTICS_ANALYSIS": "tactical training",
          "asd":"asdgf"
        }

        const standardUnit = {
          id:0,
          name:"",
          img:"fallback",
          iconSuffix:"",
          portraitSuffix:"",
          type:"",
          trait:"",
          role:"",
          rarity:0,
          atk:0,
          def:0,
          crit_rate:0,
          crit_dmg:0,
          crit_res:0,
          spd:0,
          acc:0,
          eva:0,
          aura:{
            value:0,
            location:"",
            allyTarget:"",
            stat:"",
          },
          skills:[],
          weapons:[]
        }

        const standardSkill = {
          id:0,
          isPassive:false,
          name:"",
          desc:"",
          icon:"",
          cooldown:0,
          numAttacks:0,
          skillLevels:["","","","",""],
          statScaling:[""],
          effectReferences:[]
        }

        const standardSkillEffect = {
          effect:"",
          trigger:"",
          target:"",
          inflictRate:0,
          val1:0,
          val2:0,
          val3:0
        }

        //insert weapon name, cut color codes
        function cleanString(str) {
          if(str[0] === "<") {
            const closingTag = str.indexOf(">");
            const weapon = cleanString(stringsById[str.substring(3,closingTag-1)]?.Text_ENG ?? "WEAPON_NAME");
            const skill = cleanString(stringsById[str.substring(str.lastIndexOf("[&")+2,str.lastIndexOf("]"))]?.Text_ENG ?? "SKILL_NAME");
            return "<" + weapon + "> " + skill;
          }
          return str.substring(str.indexOf("]") + 1, str.lastIndexOf("["));
        }

        function skillYamlToObj(skillYaml, skillId) {
          return {
            ...standardSkill,
            id:skillId,
            isPassive:skillYaml.SkillBtnType == -1,
            name:cleanString(stringsById[skillYaml.Name]?.Text_ENG ?? "SKILL_NAME"),
            desc:stringsById[skillYaml.Desc]?.Text_ENG ?? "SKILL_DESC",
            icon:skillYaml.Icon,
            cooldown:skillYaml.Turn,
            numAttacks:skillYaml.SkillAtkCnt,
            skillLevels:skillYaml.SkillLevel?.split("/") ?? "",
            statScaling:skillYaml.DmgBase?.split("/") ?? "",
            effectReferences: typeof(skillYaml.BOList) == "number" ? String(skillYaml.BOList) : skillYaml.BOList.split("/")
          };
        }

        const standardWeapon = {
          id:0,
          unitTarget:0,
          name:"",
          icon:"",
          skillId:0,
          skillTarget:0,
          skill:{...standardSkill},
          bonusStat:0, //10=hp, 5=crate, 
          bonusValue:0
        }

        const unitCache = {};
        const displayedUnits = reactive([])
        const selectedUnit = reactive(standardUnit)
        const loadingStatus = ref("Init")
        const sortingIsAZ = ref(false)
        const simpleFilterStates = ref({
          powerFilter:true,
          techniqueFilter:true,
          agilityFilter:true,
          balancedFilter:true,
          offenseFilter:true,
          defenseFilter:true,
          supportFilter:true,
          moonFilter:true,
          marsFilter:true,
          mercuryFilter:true,
          jupiterFilter:true,
          venusFilter:true,
          saturnFilter:true,
          sunFilter:true,
          commonFilter:true,
          uncommonFilter:true,
          rareFilter:true,
          epicFilter:true,
          legendaryFilter:true
        })

        let stringsById = null;
        async function loadData(loadFromJSON = false) {
          if(loadFromJSON) {
            loadingStatus.value = "Getting JSON from GitHub...";

            const unitDataReq = await fetch('https://raw.githubusercontent.com/DeltaBoss/TaimaninSquadHub/refs/heads/main/unitCache.json');
            if (!unitDataReq.ok) throw new Error(`HTTP ${response.status}`)
            Object.assign(unitCache, JSON.parse(await unitDataReq.text()));
            displayedUnits.push(...Object.values(unitCache).map(unit => unit.id));
          } else {
            const UnityTagType = new jsyaml.Type('tag:unity3d.com,2011:114', {
              kind: 'mapping',
              construct: (data) => data // just pass the mapping through as-is
            })
            const UNITY_SCHEMA = jsyaml.DEFAULT_SCHEMA.extend([UnityTagType])

            loadingStatus.value = "Getting YAMLs from GitHub...";

            const unitDataReq = await fetch('https://raw.githubusercontent.com/DeltaBoss/TaimaninSquadHub/refs/heads/main/yaml/Game.asset.yaml');
            if (!unitDataReq.ok) throw new Error(`HTTP ${response.status}`)
            const unitData = jsyaml.load(await unitDataReq.text(), { schema: UNITY_SCHEMA });
            unitData.MonoBehaviour.UnitSkills = unitData.MonoBehaviour.UnitSkills.reduce((acc, entry) => {
              acc[entry.ID] = entry
              return acc
            }, {});
            unitData.MonoBehaviour.BattleOptions = unitData.MonoBehaviour.BattleOptions.reduce((acc, entry) => {
              acc[entry.ID] = entry
              return acc
            }, {});

            const stringDataReq = await fetch('https://raw.githubusercontent.com/DeltaBoss/TaimaninSquadHub/refs/heads/main/yaml/String.asset.yaml');
            if (!stringDataReq.ok) throw new Error(`HTTP ${response.status}`)
            const stringData = jsyaml.load(await stringDataReq.text(), { schema: UNITY_SCHEMA });
            stringsById = stringData.MonoBehaviour.Strings.reduce((acc, entry) => {
              acc[entry.ID] = entry
              return acc
            }, {});

            const weaponStatLookup = {
              5:"HP",
              10:"ATK"
            };

            loadingStatus.value = "Building unit cache...";
            let counter = 1;
            const numUnits = Object.keys(unitData.MonoBehaviour.Units).length;
            for (const yamlUnit of unitData.MonoBehaviour.Units) {
              loadingStatus.value = "Caching: " + counter + "/" + numUnits;
              console.log(yamlUnit);
              unitCache[yamlUnit.ID] = structuredClone(standardUnit);
              unitCache[yamlUnit.ID].id = yamlUnit.ID;
              unitCache[yamlUnit.ID].name = stringsById[yamlUnit.Name].Text_ENG;
              unitCache[yamlUnit.ID].img = yamlUnit.Icon;
              unitCache[yamlUnit.ID].iconSuffix = "";
              unitCache[yamlUnit.ID].portraitSuffix = "";
              unitCache[yamlUnit.ID].type = yamlUnit.AttributeType;
              unitCache[yamlUnit.ID].trait = yamlUnit.Disposition;
              unitCache[yamlUnit.ID].role = yamlUnit.ClassType;
              unitCache[yamlUnit.ID].rarity = yamlUnit.Rarity;
              unitCache[yamlUnit.ID].hp = yamlUnit.HP;
              unitCache[yamlUnit.ID].atk = yamlUnit.ATK;
              unitCache[yamlUnit.ID].def = yamlUnit.DEF;
              unitCache[yamlUnit.ID].crit_rate = yamlUnit.CRATE/10;
              unitCache[yamlUnit.ID].crit_dmg = yamlUnit.CDMG/10;
              unitCache[yamlUnit.ID].crit_res = yamlUnit.CRES/10;
              unitCache[yamlUnit.ID].spd = yamlUnit.SPD;
              unitCache[yamlUnit.ID].acc = yamlUnit.ACC/10;
              unitCache[yamlUnit.ID].eva = yamlUnit.EVD/10;
              const auraData = unitData.MonoBehaviour.UnitSkills[yamlUnit.SkillAuraID].AuraInfo.split(",");
              unitCache[yamlUnit.ID].aura.value = Number(auraData[0]);
              unitCache[yamlUnit.ID].aura.allyTarget = auraData[2];
              unitCache[yamlUnit.ID].aura.location = auraData[1];
              unitCache[yamlUnit.ID].aura.stat = auraData[3];
              if(yamlUnit.SkillID1) {
                const skillYaml = unitData.MonoBehaviour.UnitSkills[yamlUnit.SkillID1];
                unitCache[yamlUnit.ID].skills.push(skillYamlToObj(skillYaml, yamlUnit.SkillID1));
              }
              if(yamlUnit.SkillID2) {
                const skillYaml = unitData.MonoBehaviour.UnitSkills[yamlUnit.SkillID2];
                unitCache[yamlUnit.ID].skills.push(skillYamlToObj(skillYaml, yamlUnit.SkillID2));
              }
              if(yamlUnit.SkillID3) {
                const skillYaml = unitData.MonoBehaviour.UnitSkills[yamlUnit.SkillID3];
                unitCache[yamlUnit.ID].skills.push(skillYamlToObj(skillYaml, yamlUnit.SkillID3));
              }
              if(yamlUnit.SkillID4) {
                const skillYaml = unitData.MonoBehaviour.UnitSkills[yamlUnit.SkillID4];
                unitCache[yamlUnit.ID].skills.push(skillYamlToObj(skillYaml, yamlUnit.SkillID4));
              }
              console.log(unitCache[yamlUnit.ID]);
              displayedUnits.push(yamlUnit.ID);
              counter++;
            }
            loadingStatus.value = "Caching weapons..."
            for(const weapon of unitData.MonoBehaviour.UnitWeapons) {
              unitCache[weapon.UnitID].weapons.push({
                ...standardWeapon,
                id:weapon.ID,
                unitTarget:weapon.UnitID,
                name:stringsById[weapon.Name],
                icon:weapon.Icon ?? "",
                skillId:weapon.SkillID,
                skill:skillYamlToObj(unitData.MonoBehaviour.UnitSkills[weapon.SkillID], weapon.SkillID),
                skillTarget:weapon.SkillSlot,
                bonusStat:weaponStatLookup[weapon.OptType] ?? "? Stat", //10=hp, 5=crate, 
                bonusValue:weapon.OptValue
              });
            }
          }
          if(Object.keys(unitCache).length > 0) {
            Object.assign(selectedUnit, unitCache[Object.keys(unitCache)[0]]);
          }
          loadingStatus.value = "Finished loading."
        }

        function handleImgError(event, unitObj, isIcon) {
          const suffixOrder = ['', '_4', '_3', '_2', '_1', '_0']
          const unitId = unitObj.id;
          const currentSuffix = (isIcon ? unitObj.iconSuffix : unitObj.portraitSuffix) ?? suffixOrder[0]
          const nextIndex = suffixOrder.indexOf(currentSuffix) + 1

          if (nextIndex < suffixOrder.length) {
            if(isIcon) {
              unitCache[unitId].iconSuffix = suffixOrder[nextIndex]
              event.target.src = `img/icons/${unitObj.img}${unitObj.iconSuffix}.png`
            } else {
              unitCache[unitObj.id].portraitSuffix = suffixOrder[nextIndex]
              selectedUnit.portraitSuffix = suffixOrder[nextIndex]
              event.target.src = `img/portraits/${unitObj.img}${unitObj.portraitSuffix}.png`
            }
          } else {
            event.target.src = unitId == -1 ? "img/portraits/fallback.png" : 'img/icons/fallback.png' // fallback
          }
        }

        const simpleFilters = {
          commonFilter: (unit) => unit.rarity == 1,
          uncommonFilter: (unit) => unit.rarity == 2,
          rareFilter: (unit) => unit.rarity == 3,
          epicFilter: (unit) => unit.rarity == 4,
          legendaryFilter: (unit) => unit.rarity == 5,
          offenseFilter: (unit) => unit.role == 1,
          defenseFilter: (unit) => unit.role == 2,
          supportFilter: (unit) => unit.role == 3,
          powerFilter: (unit) => unit.type == 1,
          techniqueFilter: (unit) => unit.type == 2,
          agilityFilter: (unit) => unit.type == 3,
          balancedFilter: (unit) => unit.type == 4,
          moonFilter: (unit) => unit.trait == 1,
          marsFilter: (unit) => unit.trait == 2,
          mercuryFilter: (unit) => unit.trait == 3,
          jupiterFilter: (unit) => unit.trait == 4,
          venusFilter: (unit) => unit.trait == 5,
          saturnFilter: (unit) => unit.trait == 6,
          sunFilter: (unit) => unit.trait == 7
        };

        const advancedFilters = [];

        function noSimpleFilterActive() {
          return Object.values(simpleFilterStates.value).every(v => v === true);
        }

        function noTypeFilterActive() {
          return simpleFilterStates.value.powerFilter && simpleFilterStates.value.techniqueFilter && simpleFilterStates.value.agilityFilter && simpleFilterStates.value.balancedFilter;
        }

        function noRoleFilterActive() {
          return simpleFilterStates.value.offenseFilter && simpleFilterStates.value.defenseFilter && simpleFilterStates.value.supportFilter;
        }

        function noRarityFilterActive() {
          return simpleFilterStates.value.commonFilter && simpleFilterStates.value.uncommonFilter && simpleFilterStates.value.rareFilter && simpleFilterStates.value.epicFilter && simpleFilterStates.value.legendaryFilter;
        }

        function noTraitFilterActive() {
          return simpleFilterStates.value.moonFilter && simpleFilterStates.value.marsFilter && simpleFilterStates.value.mercuryFilter && simpleFilterStates.value.jupiterFilter && simpleFilterStates.value.venusFilter && simpleFilterStates.value.saturnFilter && simpleFilterStates.value.sunFilter;
        }

        function applyFilters() {
          let newDisplay = [];
          
          if(!noSimpleFilterActive() || advancedFilters.length !== 0) {
            for(const unit of Object.values(unitCache)) {
              let reject = false;
              if(!noRarityFilterActive()) {
                if(!(
                  (simpleFilterStates.value.commonFilter && simpleFilters.commonFilter(unit)) || 
                  (simpleFilterStates.value.uncommonFilter && simpleFilters.uncommonFilter(unit)) || 
                  (simpleFilterStates.value.rareFilter && simpleFilters.rareFilter(unit)) || 
                  (simpleFilterStates.value.epicFilter && simpleFilters.epicFilter(unit)) || 
                  (simpleFilterStates.value.legendaryFilter && simpleFilters.legendaryFilter(unit)))
                  ) {
                  continue;
                }
              }
              if(!noTypeFilterActive()) {
                if(!(
                  (simpleFilterStates.value.powerFilter && simpleFilters.powerFilter(unit)) || 
                  (simpleFilterStates.value.techniqueFilter && simpleFilters.techniqueFilter(unit)) || 
                  (simpleFilterStates.value.agilityFilter && simpleFilters.agilityFilter(unit)) || 
                  (simpleFilterStates.value.balancedFilter && simpleFilters.balancedFilter(unit)))
                  ) {
                  continue;
                }
              }
              if(!noRoleFilterActive()) {
                if(!(
                  (simpleFilterStates.value.offenseFilter && simpleFilters.offenseFilter(unit)) || 
                  (simpleFilterStates.value.defenseFilter && simpleFilters.defenseFilter(unit)) || 
                  (simpleFilterStates.value.supportFilter && simpleFilters.supportFilter(unit)))
                  ) {
                  continue;
                }
              }
              if(!noTraitFilterActive()) {
                if(!(
                  (simpleFilterStates.value.moonFilter && simpleFilters.moonFilter(unit)) || 
                  (simpleFilterStates.value.marsFilter && simpleFilters.marsFilter(unit)) || 
                  (simpleFilterStates.value.mercuryFilter && simpleFilters.mercuryFilter(unit)) || 
                  (simpleFilterStates.value.venusFilter && simpleFilters.venusFilter(unit)) || 
                  (simpleFilterStates.value.jupiterFilter && simpleFilters.jupiterFilter(unit)) || 
                  (simpleFilterStates.value.saturnFilter && simpleFilters.saturnFilter(unit)) || 
                  (simpleFilterStates.value.sunFilter && simpleFilters.sunFilter(unit))
                  )) {
                  continue;
                }
              }
              if(!reject) {
                newDisplay.push(unit.id);
              }
            }
          } else {
            newDisplay = Object.values(unitCache).map(unit => unit.id);
          }
          if(sortingIsAZ.value) {
            newDisplay.sort((a,b) => unitCache[a].name.localeCompare(unitCache[b].name));
          }
          displayedUnits.splice(0, displayedUnits.length, ...newDisplay)
        }

        function selectNewUnit(id) {
          Object.assign(selectedUnit, unitCache[id]);
        }

        function toggleDisplayOrder() {
          if(sortingIsAZ.value) {
            displayedUnits.sort((a,b) => a - b);
          } else {
            displayedUnits.sort((a,b) => unitCache[a].name.localeCompare(unitCache[b].name));
          }
          sortingIsAZ.value = !sortingIsAZ.value
        }

        function toggleSimpleFilter(filter) {
          simpleFilterStates.value[filter] = !simpleFilterStates.value[filter];
          applyFilters();
        }

        function exportUnitCache() {
          const json = JSON.stringify(unitCache, null, 2)
          const blob = new Blob([json], { type: 'application/json' })
          const url = URL.createObjectURL(blob)

          const link = document.createElement('a')
          link.href = url
          link.download = 'unitCache.json'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)

          URL.revokeObjectURL(url)
        }
        
        loadData()
        return { sortingIsAZ, simpleFilterStates, toggleSimpleFilter, toggleDisplayOrder, typeLookup, roleLookup, traitLookup, rarityLookup,  SKILL_LOOKUP, selectedUnit, displayedUnits, loadingStatus, unitCache, handleImgError, selectNewUnit, exportUnitCache }
      }
    }).mount('#UnitCodex')
  </script>
  <hr>
  <footer>
    Footer
  </footer>
</body>
</html>